

/* color variables*/

$green:hsl(160, 84%, 39%);
$light-green:rgba(209, 250, 229, 1);
$white:hsl(0, 0%, 100%);
$light:hsl(0, 0%, 87%);
$dark:hsl(0, 4%, 22%);
$orange:rgba(245, 158, 11, 1);

/*front famely*/
$font:'Lexend', sans-serif;
$font-weight:(
  regular:400,
  semibold:700
);

.border{
  border: 1px solid $light;
  padding: 0.5rem 0.5rem;
}